<html>
    <head>
        <title>{{ title }} - zoug.top</title>
    </head>
    <body>
        <h1>Hello, {{ user.username }}</h1>
        <br>
        <h2> Current state of the game: </h2>
        <p> {{ game_status }} </p>
        </h2> Current player: </h2>
        <p> {{ current_player }} <p>
        <h2> Index passed to the good f'n for the current player: </h2>
        <form action="" method="post">
            <div>
                <label for="name">Player number: </label>
                <input type="number" name="player_id" id="player_id" required>
            </div>
            <div class="form-example">
                <label for="email">Player choice: </label>
                <input type="number" name="choice" id="choice" required>
            </div>
            <div>
                <input type="submit" value="Subscribe!">
            </div>
        </form>
    </body>
</html>
