{% extends "layout.html" %}
{% block content %}

<div class='top container'>
    <h1> Index </h1>
    <p class='lead'> Aqui pode escolher uma jogada ou criar uma nova </p>
    <p> Até três jogada simultâneas </p>
    <form>
        <h2> Criar uma jogada </h2>
        <div class='form-group'>
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" aria-describedby="Escolha um nome ou pseudônimo">
        </div>
        <div class='form-group'>
            <label for="nb_players">Número de jogadores:</label>
            <input type="number" class="form-control" id="nb_players" aria-describedby="Quantos jogadores">
        </div>
        <div class='form-group'>
            <label for="name_lobby">Nome da jogada:</label>
            <input type="text" class="form-control" id="name_lobby">
        </div>
        <button class="btn btn-primary">Criar</button>
    </form>
    <br>
    <form>
        <h2> Participar numa jogada </h2>
        <div class='form-group'>
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" aria-describedby="Escolha um nome ou pseudônimo">
        </div>
        <button class="btn btn-primary">Jogar</button>
    <form>

{% endblock %}
