{% extends "layout.html" %}
{% block content %}

<div class='top container'>
    <h1> Index </h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class='alert alert-primary' role='alert'>
            {% for message in messages %}
            <ul>
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      {% endif %}
    {% endwith %}
    <p class='lead'> Aqui pode escolher uma partida ou criar uma nova </p>
    <p> Até três partidas simultâneas </p>
    <form action="{{ url_for('ui.add_lobby') }}">
        <h2> Criar uma partida </h2>
        <div class='form-group'>
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" aria-describedby="Escolha um nome ou pseudônimo">
        </div>
        <div class='form-group'>
            <label for="nb_players">Número de jogadores:</label>
            <input type="number" class="form-control" id="nb_players" aria-describedby="Quantos jogadores">
        </div>
        <div class='form-group'>
            <label for="name_lobby">Nome da partida:</label>
            <input type="text" class="form-control" id="name_lobby">
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
    </form>
    <br>
    <form action="{{ url_for('ui.join_lobby') }}">
        <h2> Participar numa partida </h2>
        <div class='form-group'>
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" aria-describedby="Escolha um nome ou pseudônimo">
        </div>
        <button type="submit" class="btn btn-primary">Jogar</button>
    <form>

{% endblock %}
